In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

In [6]:
df = pd.read_csv('Car_Data/pakwheels_used_cars.csv')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77237 entries, 0 to 77236
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ad_ref        77237 non-null  int64
 1   assembly      23976 non-null  object
 2   body          68372 non-null  object
 3   ad_city       77237 non-null  object
 4   color         75727 non-null  object
 5   engine_cc     77235 non-null  float64
 6   fuel_type     76303 non-null  object
 7   make          77237 non-null  object
 8   mileage       77237 non-null  int64
 9   model         77237 non-null  object
 10  registered    77237 non-null  object
 11  transmission  77237 non-null  object
 12  year          72516 non-null  float64
 13  price         76588 non-null  float64
dtypes: float64(3), int64(2), object(9)
memory usage: 8.2+ MB

In [8]:
df.head(20)

,ad_ref,assembly,body,ad_city,color,engine_cc,fuel_type,make,mileage,model,registered,transmission,year,price
0,7927285,Imported,Van,Lahore,Pearl White,2000.0,Hybrid,Nissan,124000,Serena,Un-Registered,Automatic,1905.0,8990000.0
1,7679303,Imported,Hatchback,Lahore,Grey,996.0,Petrol,Toyota,30738,Vitz,Punjab,Automatic,1905.0,4190000.0
2,7915479,NaN,Sedan,Lahore,Super white,1798.0,Petrol,Toyota,183000,Corolla,Punjab,Automatic,1905.0,3990000.0
3,7918380,NaN,Sedan,Lahore,Crystal Black Pearl,1500.0,Petrol,Honda,41000,Civic,Punjab,Automatic,1905.0,6490000.0
4,7676167,Imported,MPV,Lahore,Silver,3000.0,Petrol,Toyota,126000,Alphard,Punjab,Automatic,1905.0,4750000.0
5,7908190,Imported,SUV,Lahore,White,2700.0,Petrol,Toyota,34000,Prado,Un-Registered,Automatic,1905.0,28900000.0
6,7823946,NaN,Sedan,Lahore,Modern Steel Metallic,1500.0,Petrol,Honda,65989,Civic,Punjab,Automatic,1905.0,6490000.0
7,7900746,Imported,Van,Lahore,Black,2000.0,Hybrid,Nissan,97000,Serena,Un-Registered,Automatic,1905.0,7700000.0
8,7917469,Imported,SUV,Lahore,White Pearl Crystal Shine,4600.0,Petrol,Toyota,9500,Land,Un-Registered,Automatic,1905.0,79800000.0
9,7815514,NaN,Sedan,Lahore,Crystal Black,1800.0,Petrol,Honda,147000,Civic,Punjab,Automatic,1905.0,4300000.0
10,7931905,Imported,Sedan,Sialkot,Black,1800.0,Petrol,Audi,61000,A4,Islamabad,Automatic,1905.0,7300000.0
11,7931906,NaN,NaN,Lahore,White,1500.0,Petrol,Honda,81000,BR-V,Islamabad,Manual,1905.0,4150000.0
12,7921784,Imported,Crossover,Lahore,Clear White,1368.0,Petrol,KIA,37000,Stonic,Punjab,Automatic,1905.0,5390000.0
13,7848640,NaN,Crossover,Lahore,Crystal Black Pearl,1500.0,Petrol,Honda,12749,HR-V,Punjab,Automatic,1905.0,7490000.0
14,7806751,Imported,Hatchback,Lahore,Black,660.0,Petrol,Daihatsu,32826,Mira,Un-Registered,Automatic,1905.0,3690000.0
15,7816517,Imported,SUV,Lahore,Beige,4200.0,Diesel,Toyota,250000,Land,Punjab,Automatic,1905.0,8850000.0
16,7922453,Imported,NaN,Lahore,White,660.0,Petrol,Suzuki,3800,Alto,Un-Registered,Automatic,1905.0,4190000.0
17,7923220,NaN,Compact SUV,Lahore,Lunar Silver,1499.0,Petrol,Changan,23000,Oshan,Punjab,Automatic,NaN,8950000.0
18,7923246,NaN,Double Cabin,Lahore,Super White,2800.0,Diesel,Toyota,16000,Hilux,Punjab,Automatic,1905.0,13800000.0
19,7931582,Imported,Crossover,Lahore,Burgundy,996.0,Petrol,Toyota,59000,Raize,Punjab,Automatic,1905.0,5750000.0

In [9]:
df['ad_city'].describe()

count      77237
unique       297
top       Lahore
freq       16418
Name: ad_city, dtype: object

In [10]:
df['year'].describe()

count    72516.0
mean      1905.0
std          0.0
min       1905.0
25%       1905.0
50%       1905.0
75%       1905.0
max       1905.0
Name: year, dtype: float64

In [11]:
df['body'].describe()

count     68372
unique       21
top       Sedan
freq      29951
Name: body, dtype: object

In [58]:
df['make'].describe()

count      77237
unique        69
top       Toyota
freq       24678
Name: make, dtype: object

In [59]:
df['color'].describe()

count     75727
unique      386
top       White
freq      21324
Name: color, dtype: object

In [60]:
df['assembly'].describe()

count        23976
unique           1
top       Imported
freq         23976
Name: assembly, dtype: object

In [61]:
df['registered'].describe()

count      77237
unique       128
top       Lahore
freq       18677
Name: registered, dtype: object

In [62]:
df['body'].describe()

count     68372
unique       21
top       Sedan
freq      29951
Name: body, dtype: object

In [63]:
df['fuel_type'].describe()

count      76303
unique         3
top       Petrol
freq       70028
Name: fuel_type, dtype: object

In [64]:
df['fuel_type'].value_counts()

fuel_type
Petrol    70028
Diesel     3444
Hybrid     2831
Name: count, dtype: int64

In [65]:
df['engine_cc'].describe()

count    77235.000000
mean      1406.452062
std        707.665165
min          3.000000
25%       1000.000000
50%       1300.000000
75%       1600.000000
max      15000.000000
Name: engine_cc, dtype: float64

In [66]:
df['ad_ref'].describe()

count    7.723700e+04
mean     7.797474e+06
std      2.569679e+05
min      2.748970e+05
25%      7.792632e+06
50%      7.853515e+06
75%      7.897048e+06
max      7.931906e+06
Name: ad_ref, dtype: float64

In [67]:
df = df.drop('assembly', axis = 1)

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77237 entries, 0 to 77236
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ad_ref        77237 non-null  int64
 1   body          68372 non-null  object
 2   ad_city       77237 non-null  object
 3   color         75727 non-null  object
 4   engine_cc     77235 non-null  float64
 5   fuel_type     76303 non-null  object
 6   make          77237 non-null  object
 7   mileage       77237 non-null  int64
 8   model         77237 non-null  object
 9   registered    77237 non-null  object
 10  transmission  77237 non-null  object
 11  year          72516 non-null  float64
 12  price         76588 non-null  float64
dtypes: float64(3), int64(2), object(8)
memory usage: 7.7+ MB

In [69]:
df["body"] = df["body"].fillna(df["body"].mode()[0])

In [70]:
df["fuel_type"] = df["fuel_type"].fillna(df["fuel_type"].mode()[0])

In [71]:
df["year"] = df["year"].fillna(df["year"].mode()[0])

In [72]:
df["price"] = df["price"].fillna(df["price"].mode()[0])

In [73]:
df["color"] = df["color"].fillna(df["color"].mode()[0])

In [74]:
df["engine_cc"] = df["engine_cc"].fillna(df["engine_cc"].mode()[0])

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77237 entries, 0 to 77236
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ad_ref        77237 non-null  int64
 1   body          77237 non-null  object
 2   ad_city       77237 non-null  object
 3   color         77237 non-null  object
 4   engine_cc     77237 non-null  float64
 5   fuel_type     77237 non-null  object
 6   make          77237 non-null  object
 7   mileage       77237 non-null  int64
 8   model         77237 non-null  object
 9   registered    77237 non-null  object
 10  transmission  77237 non-null  object
 11  year          77237 non-null  float64
 12  price         77237 non-null  float64
dtypes: float64(3), int64(2), object(8)
memory usage: 7.7+ MB

In [76]:
categories = df.select_dtypes(include =('object')).columns

In [77]:
categories

Index(['body', 'ad_city', 'color', 'fuel_type', 'make', 'model', 'registered',
       'transmission'],
      dtype='object')

In [78]:
encoder = LabelEncoder()

In [79]:
df['body'] = encoder.fit_transform(df['body'])

In [80]:
df['ad_city'] = encoder.fit_transform(df['ad_city'])

In [81]:
df['color'] = encoder.fit_transform(df['color'])

In [82]:
df['fuel_type'] = encoder.fit_transform(df['fuel_type'])

In [83]:
df['make'] = encoder.fit_transform(df['make'])

In [84]:
df['model'] = encoder.fit_transform(df['model'])

In [85]:
df['registered'] = encoder.fit_transform(df['registered'])

In [86]:
df['transmission'] = encoder.fit_transform(df['transmission'])

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77237 entries, 0 to 77236
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ad_ref        77237 non-null  int64
 1   body          77237 non-null  int32
 2   ad_city       77237 non-null  int32
 3   color         77237 non-null  int32
 4   engine_cc     77237 non-null  float64
 5   fuel_type     77237 non-null  int32
 6   make          77237 non-null  int32
 7   mileage       77237 non-null  int64
 8   model         77237 non-null  int32
 9   registered    77237 non-null  int32
 10  transmission  77237 non-null  int32
 11  year          77237 non-null  float64
 12  price         77237 non-null  float64
dtypes: float64(3), int32(8), int64(2)
memory usage: 5.3 MB

In [88]:
y = df['price']
X = df.drop('price', axis = 1)

In [91]:
trainX, testX, trainy, testy = train_test_split(X, y, test_size=0.2)

In [93]:
model = LinearRegression()

In [94]:
model.fit(trainX, trainy)

LinearRegression()

In [95]:
result = model.predict(testX)

In [96]:
result

array([1367227.67899318, 5533555.26363007, 1952450.88856617, ...,
       2477780.34079622, 1817500.41053085, 5681172.50150945])

In [99]:
mean_absolute_error(result, testy)

1775839.8580865292